In [1]:
import pymongo

In [2]:
import pandas as pd
data = pd.read_csv('house.csv')

In [3]:
df = data.to_dict(orient='records')

In [4]:
DB_name ='house'
collection_name = "house"
connection_url = 'mongodb+srv://visionop:GhPUF7$y@cluster0.s5ewteq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [5]:
client = pymongo.MongoClient(connection_url)
data_base = client[DB_name]
collection = data_base[collection_name]
rec = collection.insert_many(df)

In [6]:
df = pd.DataFrame(list(collection.find()))

In [7]:
if "_id" in df.columns.to_list():
    df = df.drop(columns=["_id"], axis=1)

In [8]:
df.head()

                   location  total_sqft  bath  balcony  price  bhk
0  Electronic City Phase II      1056.0   2.0      1.0  39.07    2
1               Uttarahalli      1440.0   2.0      3.0  62.00    3
2                Whitefield      1170.0   2.0      1.0  38.00    2
3              Marathahalli      1310.0   3.0      1.0  63.25    3
4                Whitefield      1800.0   2.0      2.0  70.00    3